<%- include('../layouts/header'); -%>

<main class="container">
    <section class="row d-flex justify-content-center align-items-center vh-100">
        <div class="col">
            <p class="text-center">
                <span>Page 404</span><br>
                <span>
                        cliquer <a href="/">ICI</a> pour aler à la page d'acceuil
                    </span>
            </p>
        </div>
    </section>
</main>

<%- include('../layouts/footer'); -%>